<div class="wrapper">
    <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/angola.svg)">
                            <div class="inner">
                                <p>Pais</p>
                <span>Continente</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                            <p>Capital</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/Flag_of_the_United_States.png)">
                            <div class="inner">
                                <p>A</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/Bandera-mexico.png)">
                            <div class="inner">
                                <p>Strizzes</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/brasil.avif)">
                            <div class="inner">
                                <p>Clossyo</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/españa.webp">
                            <div class="inner">
                                <p>Rendann</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/alemania.png)">
                            <div class="inner">
                                <p>Reflupper</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/australia.svg)">
                            <div class="inner">
                                <p>Acirassi</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(./img/japan.svg)">
                            <div class="inner">
                                <p>Sohanidd</p>
                <span>Lorem ipsum</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>