{{#> plantillaExterna}}
    <img src="/img/perrofeliz.png" alt="No se carga pe we bon">

    <form action="" method="get">
        <div>Fecha:<input type="date" name=""></div>
        <div>Nombre:<input type="text" name=""></div>
        <div>Donacion: $<input type="number" name=""></div>
        <div><input type="button" value="DONA!"></div>
    </form>
{{/plantillaExterna}}